{
  "singleQuote": false,
  "importOrder": ["^react", "^@", "^[./]"],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx", "typescript"],
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
